---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am a Master of Science student in the Regional Science program at Cornell University, focusing on data-driven approaches for sustainable tranportation and mobility systems.
    Currently, I am fortunate to be advised by <a rel="noopener noreferrer" href = "https://www.cee.cornell.edu/faculty-directory/h-oliver-gao" target = "_blank"><font color="#990B3C"> Prof. H. Oliver Gao</font></a> at the <a rel="noopener noreferrer" href = "https://gao-labs.github.io/" target = "_blank"><font color="#990B3C"> Lab</font></a>. Additionally, I am employed as a lab assistant in the Department of Information Science 
    and serve as a research assistant under the supervision of <a rel="noopener noreferrer" href="https://www.cee.cornell.edu/faculty-directory/andreas-malikopoulos" target = "_blank"><font color="#990B3C"> Prof. Andreas Malikopoulos</font></a> at the <a rel="noopener noreferrer" href="https://ids-lab.net/" target = "_blank"><font color="#990B3C"> Information and Decision Science Laboratory</font></a>.
  </p>

  <p>
    Before coming to Cornell, I received my <a rel="noopener noreferrer" href = "https://fba.um.edu.mo/programmes/bachelor/bscbia/" target = "_blank"><font color="#990B3C"> BS in Business Intelligence and Data Analytics</font></a> at the <a rel="noopener noreferrer" href = "https://www.um.edu.mo/" target = "_blank"><font color="#990B3C"> University of Macau</font></a>. 
    In its interim, I spent a semester on exchange in Xi'an Jiaotong University's Big Data Management and Application program at the School of Management. 
    During the summer of 2022, I had the opportunity to intern at <a rel="noopener noreferrer" href = "https://www.radiologysolutions.bayer.com/" target = "_blank"><font color="#990B3C"> Bayer</font></a> as a developer. My responsibilities included developing data analysis software using R and Python.
    I was also responsible for machine-learning projects to fit pharmacokinetic parameters by learning medical images. 
  </p> 
</div>

<!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul> -->  

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img alt="projects.desc" src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div> 
  </div>-->

</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Click <a rel="noopener noreferrer" href="https://cornell.box.com/s/3nuwe8mmvf0jeb5h57uj45mlxfg81gqq" target="_blank"><font color="#990B3C">here</font></a> to get access to my up-to-date CV. <a rel="noopener noreferrer" href="https://cornell.box.com/s/omf7dlfc2i3n7b36kqfdieiyb6cur6zv" target="_blank"><font color="#990B3C">中文簡歷</font></a></p>
  <p>My Statement of Purpose is <a rel="noopener noreferrer" href="https://cornell.box.com/s/c4tx4bfbjm7e17jxmrl01e2smjkhr07g" target="_blank"><font color="#990B3C">here</font></a>.
  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== MISC ========== -->
<div class="docs-section" id="misc">
  <h4>MISC</h4>
  <p>
    <a href="https://www.dpm.org.cn/collection/handwriting/228246.html"><img src="assets/profile-pics/shaoxi.jpg" alt="Shaoxi" style="float:right;width:120px"></a>
    I have practiced Chinese caligraphy for more than 10 years, many years on Mi Fu's work (right-side). 
    Additionally, I have vast interests in soccer, tennis, hiking, and cooking, etc. Champions League and Grand Slam tournaments are my favourites. 
    Some readings, <a href="https://en.wikipedia.org/wiki/The_Autumn_of_the_Patriarch"><font color="#990B3C"> <i>The Autumn of the Patriarch</i></font></a>, 
    <a href="https://en.wikipedia.org/wiki/Our_Ancestors"><font color="#990B3C"> <i>Our Ancestors</i></font></a>, and 
    <a href="https://en.wikipedia.org/wiki/Spring_Snow"><font color="#990B3C"> <i>Spring Snow</i></font></a> touches me a lot.
     I am loved to share my thoughts and lots of passions.
  </p>
</div>

<div class="docs-section" id="template">
  This website theme is based on the templates by <a href="https://faculty.washington.edu/msaveski/"><font color="#990B3C"> Martin Saveski</font></a>.
</div>