---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am a Master of Science student in the Regional Science program at Cornell University, focusing on spatial data analytics, geographical information systems, data science, applied economics, and machine learning. Currently, I am advised by <a href = "https://www.cee.cornell.edu/faculty-directory/h-oliver-gao" target = "_blank">Professor Oliver Gao </a>, works as a lab assistant in the Department of Information Science, and works as a research assistant under <a href="https://www.cee.cornell.edu/faculty-directory/andreas-malikopoulos"> Professor Andreas Malikopoulos </a>.
  </p>

  <p>
    I received my Bachelor of Science degree in Business Intelligence and Data Analytics at the University of Macau with a top 5% GPA. In its interim, I spent a semester on exchange in Xi'an Jiaotong University's Big Data Management and Applications program at the School of Management. After that, I participated in summer programs at Sun Yat-sen University's Guangdong-Hong Kong-Macao Universities Consortium and Cornell Institute for China Economic Research (CICER). 
    I have assisted professors as a research assistant since my junior year. The projects covered trading strategy development, quantitative trading, data visualization, web programming, web crawling, text mining, and text sentiment analysis. For the CICER Winter Research Program, my group focused on The Impacts of State and Local Taxation on Firm Location Decisions and won the Team Engagement Excellence Award. Since 2022 summer, I interned at Bayer as a developer intern responsible for developing data analysis software in R and Python. I was also responsible for machine-learning projects to fit pharmacokinetic parameters by learning medical images. I also assisted in the maintenance of the cloud platform and in collecting and organizing medical papers. 
    I was also awarded the Luso International Bank Academic Prize, Henry Fok Foundation Scholarship, University of Macau Exchange Scholarship, University of Macau Residential College Foundation Scholarship, Luso International Bank Whole Person Development Scholarship, and student research assistant stipends in my undergraduate studies.
  </p> 
</div>

<!-- ========== PROJECTS ==========  -->
<!-- <div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div> -->


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>CV</h4>

  <p>Click <a href="https://1drv.ms/b/s!Akq8VjNqWB4t8UY91KPcuP9DNSUW?e=jAUr9s" target="_blank">here</a> to get access to my up-to-date CV. <a href="https://1drv.ms/b/s!Akq8VjNqWB4t8UUxLkZfy6ycV6Kt?e=fv1Klu" target="_blank">中文版CV</a></p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
